<%- include('partials/header'); %>
<h1>moodPlayer</h1>
<button id="start">Start recording</button>
<a id="download">Download</a>
<button id="stop">Stop</button>
<div class="player-container"></div>
<form id="analyzeForm" action="/analyzeAudio" method="POST">
	<input id="audioFile" type="hidden" name="audioFile" />
	<button type="submit" class="formAjaxButton">Analyze Audio</button>
</form>
<h2 id="recording">RECORDING</h2>
<script src="/static/script.js"></script>
<div class="emotionData"></div>
<%- include('partials/footer'); %>
