<%- include('partials/header'); %>
<h1>Hello World</h1>
<a id="download">Download</a>
<button id="start">Start recording</button>

<button id="stop">Stop</button>
<div class="player-container"></div>
<form action="/analyzeAudio" method="POST">
	<input type="hidden" id="audioFile" name="audioFile" />
	<button type="submit">Analyze Audio</button>
</form>

<script src="/static/script.js"></script>
<%- include('partials/footer'); %>
