<%- include('partials/header'); %>
<div class="main-container">
	<h1>moodPlayer</h1>
	<div class="recordingControls">
		<h2>Recording Controls</h2>
		<div class="recordButtons">
			<button class="btn" id="start">Start</button
			><button disabled class="btn" id="stop">Stop</button
			><a class="btn disabled" id="download">Download</a>
		</div>
	</div>
	<div class="recordButtons"></div>
	<form id="analyzeForm" action="/analyzeAudio" method="POST">
		<input id="audioFile" type="hidden" name="audioFile" />
		<button disabled type="submit" class="formAjaxButton btn disabled">
			Analyze Audio
		</button>
	</form>
	<h2 id="recording">
		<button class="recordingSign">recording</button>RECORDING
	</h2>
	<div class="player-container"></div>
	<a href="/login" id="spotifyLogin" class="btn spotify">Log in with Spotify</a>
	<div class="emotionData"></div>
	<!-- Loading SVG ICON -->
	<div class="loader loader--style6 hidden" title="5">
		<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		   width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
		  <rect x="0" y="13" width="4" height="5" fill="#333">
			<animate attributeName="height" attributeType="XML"
			  values="5;21;5" 
			  begin="0s" dur="0.6s" repeatCount="indefinite" />
			<animate attributeName="y" attributeType="XML"
			  values="13; 5; 13"
			  begin="0s" dur="0.6s" repeatCount="indefinite" />
		  </rect>
		  <rect x="10" y="13" width="4" height="5" fill="#333">
			<animate attributeName="height" attributeType="XML"
			  values="5;21;5" 
			  begin="0.15s" dur="0.6s" repeatCount="indefinite" />
			<animate attributeName="y" attributeType="XML"
			  values="13; 5; 13"
			  begin="0.15s" dur="0.6s" repeatCount="indefinite" />
		  </rect>
		  <rect x="20" y="13" width="4" height="5" fill="#333">
			<animate attributeName="height" attributeType="XML"
			  values="5;21;5" 
			  begin="0.3s" dur="0.6s" repeatCount="indefinite" />
			<animate attributeName="y" attributeType="XML"
			  values="13; 5; 13"
			  begin="0.3s" dur="0.6s" repeatCount="indefinite" />
		  </rect>
		</svg>
	  </div>
	  <!-- End of icon -->
	<!-- <iframe
		src="https://open.spotify.com/embed/track/1a2NJNhwc7wgN0dJuPcw82"
		width="300"
		height="380"
		frameborder="0"
		allowtransparency="true"
		allow="encrypted-media"
	></iframe> -->
</div>
<div class="disclaimerContainer">
	<h3>Disclaimer</h3>
	<p>
		This product uses your voice to analyze your emotion. The outcome may change
		depending on your microphone quality, surrounding sounds or any other
		factor. We are not in any way related to
		<a href="https://deepaffects.com">DeepAffects</a>, the makers of the emotion
		recognition and therefore cannot be held responsible for any of the outcome
		that AI makes.
	</p>
	<p>
		<em
			>Your voice recordings are only save for 30 minutes on our server, to be
			served to DeepAffects. If you don't press "analyze" it will not be sent
			and your voice will just simply be chilling on our server for 30 minutes.
			That's all!</em
		>
	</p>
</div>
<script src="/static/script.js"></script>
<%- include('partials/footer'); %>
