body {
	background-color: #90afc5;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	font-family: sans-serif;
	-webkit-animation: color-fade 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: color-fade 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
h1 {
	font-family: sans-serif;
	color: seagreen;
	margin-top: 1rem;
}
.neutral {
	color: #fff;
}
.angry {
	color: red;
}
.disgust {
	color: rgb(233, 126, 4);
}
.excited {
	color: seagreen;
}
.frustration {
	color: darkred;
}
.happy {
	color: greenyellow;
}

a:visited {
	color: lightskyblue;
}
.main-container {
	min-width: 300px;
	padding: 1em;
	margin: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	background-color: #2a3132;
	overflow: hidden;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
.disclaimerContainer {
	padding: 1em;
	margin: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	background-color: #363b3c;
	overflow: hidden;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
	color: white;
	font-family: sans-serif;
	width: 300px;
}
.disclaimerContainer em {
	font-weight: 700;
	text-decoration: none;
	font-style: normal;
}
.emotionData{
	background-color: #2a3132;
	border-radius: 10px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
	width: 600px;
	margin: auto;
}
.emotionData h3{
	padding: 1.5rem;
}
.emotionData h1{
	padding: 1.5rem;
}
h4{
	padding: 1.5rem;
}
iframe{
	margin: auto;
}
#recording {
	font-family: sans-serif;
	transition: 0.2s ease;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 200px;
}
#recording.recording {
	color: red;
}

@keyframes pulse {
	0% {
		background-color: rgb(100, 0, 0);
		box-shadow: 0px 0px 5px 0px rgba(173, 0, 0, 0.3);
	}
	65% {
		box-shadow: 0px 0px 5px 13px rgba(255, 0, 0, 0.3);
		background-color: rgb(255, 0, 0);
	}
	90% {
		box-shadow: 0px 0px 5px 13px rgba(173, 0, 0, 0);
		background-color: rgb(180, 0, 0);
	}
}
.recordingSign {
	width: 30px;
	height: 30px;
	font-size: 0;
	background-color: rgb(100, 0, 0);
	border: 0;
	border-radius: 30px;
	outline: none;
}
.rec {
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.btn {
	font-family: sans-serif;
	margin: 1em 0.5em;
	padding: 1em 2em;
	border-radius: 0;
	box-shadow: none;
	border: none;
	color: white;
	font-size: 0.8rem;
	background-color: #336b87;
	cursor: pointer;
	text-decoration: none;
	border-radius: 3px;
}
a.btn:visited {
	color: white;
}
.btn.disabled {
	background-color: grey;
	color: darkgrey;
	cursor: default;
}
.btn.spotify {
	background-color: #1ed760;
	border-radius: 3px;
}
@-webkit-keyframes AnimationName {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@-moz-keyframes AnimationName {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes AnimationName {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.formAjaxButton {
	transition: 0.2s ease;
}
#stop {
	cursor: pointer;
	transition: 0.2s ease;
}
#download {
	transition: 0.2s ease;
}

#stop[disabled] {
	cursor: default;
	background-color: grey;
	color: darkgrey;
}
.formAjaxButton.disabled {
	opacity: 1;
	cursor: default;
	background-color: grey;
	color: darkgrey;
}

.recordingControls {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border-radius: 3px;
	padding: 0.5em 0 0;
	background-color: #414647;
}
.recordingControls h2 {
	margin: 0;
	color: white;
	font-family: sans-serif;
}
.loader {
	margin: 0 0 2em;
	height: 100px;
	width: 100%;
	text-align: center;
	padding: 1em;
	margin: 0 auto 1em;
	display: inline-block;
	vertical-align: top;
}

/*
	Set the color of the icon
  */
svg path,
svg rect {
	fill: seagreen;
}
.loading {
	background: linear-gradient(15deg, seagreen, #1aee47);
	background-size: 600% 600%;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animationName 1s infinite;
}
.hidden {
	display: none;
}

.slide-in-top {
	-webkit-animation: slide-in-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: slide-in-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.slide-in-top-delayed {
	-webkit-animation: slide-in-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s
		both;
	animation: slide-in-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-9-26 13:32:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
	0% {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes slide-in-top {
	0% {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes color-fade {
	0% {
		background-color: white;
	}
	100% {
		background-color: #90afc5;
	}
}

.emotionData {
	min-width: 500px;
}
