body {
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2gTrQO57yeE06cf5lkEQGyDOExrtflngYZsq2Zl3XBL3E9juYew);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.recording {
	background-image: linear-gradient(270deg, #7aedcf, #17ff59, #0d802e);
	background-size: 600% 600%;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-animation: AnimationName 4s ease infinite;
	-moz-animation: AnimationName 4s ease infinite;
	animation: AnimationName 4s ease infinite;
}
@-webkit-keyframes AnimationName {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@-moz-keyframes AnimationName {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes AnimationName {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
h1 {
	color: rgb(62, 182, 62);
}

.formAjaxButton {
	display: none;
}
#stop {
	display: none;
}
#download {
	display: none;
}
#download.active {
	display: block;
}
#stop.active {
	display: block;
}
.formAjaxButton.active {
	display: block;
}
